body{
    background-color: #722F37;
    color: antiquewhite;
    font-family: "Crimson Pro", serif;;
    font-size: 16px;
}

nav{
    font-size: 1.25em;
    font-family: "DM Serif Display",serif;
    text-align: center;
}

nav a,
a {
    color: antiquewhite;
}

h1{
     font-family: "Dancing Script", serif;
    font-size: 3.4em;
}

.container{
    padding: 5em 0;
}

section{
    padding: 3em 0;
}

/*
h2{
    background-color: #5A1E24;
}

h5{
    margin-top: 150px;
    font-size: 25px;
}

h6{
    font-size: 25px;
}

h7{
    font-size: 25px;   
}

h8{
    font-size: 25px;
}

*/