body{
    background-color: #722F37;
    color: antiquewhite;
    font-family: "Crimson Pro", serif;;
}

h1{
    font-size: 20px;
    font-family: "DM Serif Display" , serif;
}

h2{
    background-color: #5A1E24;
}

h5{
    margin-top: 150px;
    font-size: 25px;
}

h6{
    font-size: 25px;
}

h7{
    font-size: 25px;   
}

h8{
    font-size: 25px;
}

h9{
    font-family: "Dancing Script", serif;
    font-size: 55px;
}
