body{
    background-color: #fcfcfc;
    font-family: DM Sans;
    color: black;
}
nav{
    background-color: #02111B;
}
head{
    background-color: #02111B;
}

h1{
    font-family: Newsreader; 
}

h2{
    font-family: Newsreader; 
    color: #E0DDCF;
    background-color: #02111B;
}

h3{
    font-family: Newsreader;
}

*/  font-family: "DM Sans", sans-serif;
*/  font-family: "DM Serif Display", serif;
